/* General layout */

body {
  background-color: #35654d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

/* Playing Field */
.discard-pile {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  position: relative;
}

.player-hand {
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  position: relative;
}


.column {
  padding: 10px;
}

/* Standard playing card 63 x 88 mm */
.card {
  border-radius: 10%;
  border: 3px solid black;
  width: 126px;
  height: 196px;
  margin: 10px 0;
  line-height: 196px;
  text-align: center;
  font-size: 40px;
  font-family: serif;
}

.red-suit{
  color: red;
}

.empty {
  background-color: white;
}

.column:hover .empty {
  background-color: lightgray;
}

.column:hover .empty ~ .empty {
  background-color: white;
}

/* Score Board */
.score-board {
  position: absolute;
  top: 1%;
  left: 1%;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 10px;
  width: 160px;
  height: 100px;
  text-align: center;
}

/* Turns Remaining */
.turn-tracker {
  position: absolute;
  top: 1%;
  right: 1%;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 10px;
  width: 120px;
  height: 60px;
  text-align: center;
}

/* Turns Remaining */
.game-id-div {
  position: absolute;
  bottom: 1%;
  left: 1%;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 10px;
  width: 200px;
  height: 60px;
  text-align: center;
}

/* Notifications */
.notifications {
  width: 50%;
  height:20%;
  position:absolute;
  top:25%;
  left:25%;
  z-index:100;
  text-align:center;
}

h1 {
  line-height: 90px;
  font-size: 80px;
  font-family: serif;
  color: red;
  visibility: hidden;
}

h2 {
  font-size: 100px;
}

/* Score Board */
.score-rules {
  position: absolute;
  top: 10%;
  right: 1%;
  background-color: rgba(255, 255, 255, .25);
  border-radius: 5%;
  width: 160px;
  height: 250px;
  text-align: center;
}

.button { 
  background-color: white; 
  border: none; color: white; 
  padding: 2%;
  width: 30%;
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 20px; 
  margin: 1% 3%; 
  cursor: pointer; 
  border-radius: 20px;
  color: red;
  font-size: 50px;
}


